@using MyMovies.ViewModels
@model IEnumerable<MovieTitleViewModel>


@{
    ViewBag.Title = "Movies";
}

<h2>Movies</h2>

<table>
    <tr>
        <th>Title</th>
        <th>Rating</th>
    </tr>
    @foreach (MovieTitleViewModel movieTitle in Model)
    {
        <tr>
            <td>@Html.ActionLink(@movieTitle.Title, "Details", new { id = @movieTitle.Id})</td>
            <td>@movieTitle.Rating</td>
        </tr>
    }
</table>